<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular2 Notifications</title>

	<link rel="stylesheet" href="app.component.css">
</head>
<body>
	

<div class="bar">
	<div class="logoWrapper">
		<div class="logo">
			<img src="../assets/img/bottomline_symbol_green_RGB.png" width="60" height="60" alt="logo">
		</div>
	</div>
	<div class="notificationIconWrapper">
		<div class="notificationIcon">
			<img src="../assets/img/report-problem-triangle.svg" alt="report-problem-triangle">
		</div>
	</div>
</div>


<!-- <div class="bar">
	<div class="logo"></div>
	<div class="notificationIcon"></div>
</div>
<div class="bar">
	<div class="logo"></div>
	<div class="notificationIcon"></div>
</div>
 -->


</body>
</html>