<div class="bar">
	<div class="logoWrapper">
		<div class="logo">
			<img src="../assets/img/bottomline_symbol_green_RGB.png" width="60" height="60" alt="logo">
		</div>
	</div>
	<div class="notificationIconWrapper dropdown dropbtn">
		<div class="notificationIcon">
			<img src="../assets/img/report-problem-triangle.svg" alt="report-problem-triangle">
			<div class="dropdown-content">
				<div class="notification-item" *ngFor="let notification of notifications | slice:0:3; let i=index" (click)="onNotificationClicked(notification)">
					<div class="checkmarkWrapper">
						<div class="checkmarkerIcon"></div>
					</div>
					<h3>{{notification.id}}: {{notification.title}}</h3>
					<h4>{{notification.type}}</h4>
          <div class="notification-divider"></div>
				</div>
        <div class="show-all-notifications">Toon alle notificaties ({{notifications.length}})</div>
			</div>
		</div>
		<div class="notifyBadge" [hidden]="notifications.length <= 0"><span>{{notifications.length}}</span></div>
	</div>
</div>
