<div class="bar">
  <div class="logoWrapper">
    <div class="logo">
      <img src="../assets/img/bottomline_symbol_green_RGB.png" width="60" height="60" alt="logo">
    </div>
  </div>
  <div class="notificationIconWrapper dropdown dropbtn" tabindex="0">
    <div class="notificationIcon">
      <img src="../assets/img/report-problem-triangle.svg" alt="report-problem-triangle">
    </div>
    <div class="dropdown-content">
      <div class="notification-item-wrapper" *ngFor="let notification of forUser"
           [ngClass]="{'show': displayed[notification.id] }">
        <div class="notification-item" [ngClass]="{'no-border': i< 2 && i+1 < notifications.length }">

          <div  [ngClass]="{'remove-height': !displayed[notification.id] }" class="checkmarkWrapper" (click)="onNotificationClicked(notification, $event)">
            <div [ngClass]="{'remove-height': !displayed[notification.id] }"  class="checkmarkerIcon"></div>
          </div>
          <h3 [ngClass]="{'remove-height': !displayed[notification.id] }" >{{notification.id}}{{notification.title}}</h3>
          <h4 [ngClass]="{'remove-height': !displayed[notification.id] }" >{{notification.type}}</h4>
        </div>
      </div>
      <div class="show-all-notifications">Alle notificaties ({{notifications.length}})</div>
    </div>
    <div class="notifyBadge" [hidden]="notifications.length <= 0"><span>{{notifications.length}}</span></div>
  </div>
</div>
